
<!--*ngif="isAddProduct"-->

<div class="col-sm-8 col-md-8 col-lg-8 mb-60" >
    <div class="alert alert-success alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
        Add New Product successfully.
    </div>
    <!--<div class="alert alert-info alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
        Info! take this info.
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
        Warning ! Dont submit this.
    </div>
    <div class="alert alert-danger alert-dismissable">
        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"> × </button>
        Error ! Change few things.
    </div>-->
</div>

<div class="col-md-8 compose-right" >

    <div class="row"> </div>

    <div class="inbox-details-default">
        <div class="inbox-details-heading">
            Add New Product
        </div>
        <div class="inbox-details-body">
            <div class="alert alert-info">
                Please fill product basic info
            </div>
            <form>

                <!--,[code]
                ,[isoffer]

                ,[isdeleted]
                ,[starRating]
                ,[sizetype]
                ,[]-->

                <div class="form-group">
                    <label class="form-label" for="field-1">Product Name</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]='product && product.nameEn' name="nameEn">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="field-1">Arabic Name</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" class="form-control" [(ngModel)]='product && product.nameAr' name="nameAr">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="field-1">Product Price</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" class="form-control" id="field-1" [(ngModel)]='product && product.price' name="price">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" for="field-5">Category</label>
                    <span class="desc"></span>
                    <div class="input-group" inputgroup="">
                        <select class="form-control ">
                            <option *ngFor="let cat of categories" value={{cat.Id}}>
                                {{ cat.nameEn }}
                            </option>

                            <!--<option value=""></option>
                            <option value="In Stock">In Stock</option>
                            <option value="Out of Stock">Out of Stock</option>-->
                        </select>
                    </div>
                </div>

                <!--<div class="form-group">
                    <label class="form-label" for="field-1">Product Image</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="file" class="form-control" id="field-5">
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="form-label" for="field-5">Size</label>
                    <span class="desc"></span>

                    <input type="text" class="form-control" id="field-1">
                    <div class="input-group" inputgroup="">
                        <select class="form-control " [(ngModel)]='product && product.size' name="typesize">
                            <option value="1">pc</option>
                            <option value="2">g</option>
                            <option value="3">kg</option>
                        </select>
                    </div>

                </div>

                <div class="form-group">
                    <div class="btn btn-default btn-file">
                        <i class="fa fa-paperclip"> </i>Product Image
                        <input type="file" name="imageUrl" (change)="uploadImage($event)" [(ngModel)]='product && product.imageUrl'>
                    </div>
                </div>



                <!--<input type="submit" value="Save" onclick="AddRequest()">-->

                <div class="col-lg-8 col-md-8 col-sm-9 col-xs-12 padding-bottom-30">
                    <div class="text-left">
                        <button type="button" class="btn btn-primary"  (click)="AddRequest()">Save</button>
                        <!--<button type="button" class="btn">Cancel</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>